<button [type]="type" class="{{ klass }} {{ color }}" [disabled]="disabled"
  [ngClass]="{ mt_dropdown: dropdown, 'mt-button-outline': outline }"
  [ngStyle]="{ 'outline-color': outline ? outlineColor : 'none' }">
  
  @if (_loading) {  
  <span>
    <div class="spinner-border spinner-border-sm me-2" role="status"></div>
    <span [translate]="_loadingText"></span>
  </span>
  }

  @if (!_loading) {  
  <ng-container>

    @if (icon) {  
      <span [ngStyle]="{
        'margin-right': text !== undefined ? '4px' : '0px'
      }" class="{{ icon }}" aria-hidden="true"></span>
    }
   
    @if (text) {  
      <span >{{text}}</span>
    }

    <ng-content></ng-content>

    @if (dropdown) {  
      <span style="margin-left: 4px" class="caret"></span>
    }

  </ng-container>
}
</button>
