<h1 class="text-center fw-bold employees-title"><u>Employees listing</u></h1>
<table class="table container table-bordered" *ngIf="getEmployeeList$ | async as employeeList">
  <thead>
    <tr>
      <th class="text-center col-md-1">ID</th>
      <th class="text-center col-md-1">Firstname</th>
      <th class="text-center col-md-1">Age</th>
      <th class="text-center col-md-1">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeList">
      <td class="text-center">{{ employee.id }}</td>
      <td class="text-center">{{ employee.firstName }}</td>
      <td class="text-center">{{ employee.age }}</td>
      <td class="text-center">
        <button class="btn btn-info" [routerLink]="['/employees/details/', employee.id]">Details</button>
      </td>
    </tr>
  </tbody>
</table>
